@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

:root {
  --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

}


/* Global CSS */


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: "Inter", 'Courier New', Courier, monospace;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

@media (min-width: 640px) {
  .css-3vas3 {
    font-size: 36px;
    line-height: 42px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.648px;
  }
}

@media (min-width: 768px) {
  .css-3vas3 {
    font-size: 48px;
    line-height: 54px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.96px;
  }
}

.css-x1l92z {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.01em;
}

.border-outline-default {
  border-color: hsla(0, 0%, 100%, .12);
}

.bg-background-secondary {
  background-color: rgba(28, 29, 35, .95);
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(246 108 48 / var(--tw-text-opacity));
}

.text-text-secondary {
  --tw-text-opacity: 1;
  color: rgb(197 197 202 / var(--tw-text-opacity));
}



/* Navbar */
.nav-items {
  font-family: 'Courier New', Courier, monospace;
}

/* Sidebar */
.side-nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  z-index: 100;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  height: 100vh;
  background: #2e2e2e;
}

.side-button {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
}

.side-ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

.side-li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}



.text-placeholder {
  border-radius: 20px;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bg-edit {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);


}


/* Hero Section */
.css-1wih27q {
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1.28px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
  z-index: 999;
  display: none;
}

.overlay,
.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
}


.player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}


/* Promo Section */

.img-container {
  animation: scroll 12s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.css-80xpf1 {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-style: normal;
  letter-spacing: -0.216px;
}

@media (min-width: 640px) {
  .css-80xpf1 {
    font-size: 24px;
    font-style: normal;
    line-height: 32px;
    letter-spacing: -0.384px;
  }
}


/* Research Section */

.css-hqh809 {
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.384px;
}

@media (min-width: 640px) {
  .css-hqh809 {
    font-size: 30px;
    line-height: 36px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.54px;
  }
}

@media (min-width: 768px) {
  .css-hqh809 {
    font-size: 36px;
    line-height: 42px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.648px;
  }
}

/* Review Section */
.css-qaz3k7 {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.216px;
}

.css-11mm823 {
  margin: 0;
  font-size: 14px;
  line-height: 1.4285;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.01em;
}

.css-18ji250 {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.01em;
}

@media (min-width: 768px) {
  .css-18ji250 {
    font-size: 22px;
    line-height: 30px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.308px;
  }
}


/* Pricing Section  */

.css-9vn808 {
  margin: 0px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.384px;
}

@media (min-width: 768px) {
  .css-9vn808 {
    font-size: 30px;
    line-height: 36px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.54px;
  }
}

.anticon {
  display: inline-flex;
  align-items: center;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Compare Feature Section */
.feature-tables table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  position: relative;
}

.feature-tables table tr td,
.feature-tables table tr th {
  border-bottom: 1px solid hsla(0, 0%, 100%, .2);
  padding: 16px;
}